<div class="container">
  <h1>Our suggestions</h1>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <% if @flats.size == 0 %>
        <div class="no_result">
          <h2 class="h2-1">Nothing matches your search ...</h2>
          <br>
          <h2 class="h2-2">What about a tent here ? </h2>
        </div>
      <% else %>
      <div class="relative">
        <div id="filters-list">
          <% if @filters.size > 0 %>
            <% @filters.each do |filter, value| %>
              <tag><%= filter.to_s.capitalize %> : <%= value %></tag>
            <% end %>
          <% end %>
        </div>
        <% @flats.each do |flat| %>
          <div class = "card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
          url('<%= photo_path_for(flat) %>')">
            <p class="card-title"> <%= flat.title %> </p>
            <%= link_to '', flat_path(flat), class: 'card-link' %> </div>
        <% end %>
      </div>
      <% end %>
      <div class="oneflat hidden"></div>
    </div>
    <div class="hidden-xs hidden-sm col-md-4" id="div_sidebar">
      <div id="sidebar">
        <%= render 'flats/filter_sidebar' %>
      </div>
    </div>
  </div>
</div>
