<div class="container">
  <h1>Our suggestions</h1>
  <div class="row">
    <div class="col-xs-12 col-md-8">
    <div>@user.latitude
      <%= @user.latitude %>
      @user.longitude
      <%= @user.longitude %></div>

      <% if @flats.size == 0 %>
        <div class="no_result">
          <h3 class="h2-1">Nothing matches your search ...</h3>
          <br>
          <h3 class="h2-2">What about a tent here ? </h3>
        </div>
      <% else %>
      <div class="relative">
      <div id="map" style="width: 100%; height: 275px;"></div>
        <div id="filters-list">
          <% if @filters.size > 0 %>
            <% @filters.each do |filter, value| %>
              <tag><%= filter.to_s.capitalize %> : <%= value %></tag>
            <% end %>
          <% end %>
        </div>
        <% @flats.each do |flat| %>
          <div class = "card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
          url('<%= photo_path_for(flat) %>')">
            <p class="card-title"> <%= flat.title %> </p>
            <%= link_to '', flat_path(flat), class: 'card-link' %> </div>
        <% end %>
      </div>
      <% end %>
      <div class="oneflat hidden"></div>
    </div>
    <div class="hidden-xs hidden-sm col-md-4" id="div_sidebar">
      <div id="sidebar">
        <%= render 'flats/filter_sidebar' %>
      </div>
    </div>
  </div>
</div>


<div>
<div class="container">

</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        markers.forEach(function(marker){
        marker.label = "Hello World!";
        console.log(marker.title)
        })
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
</div>

