<h1>Flats#new</h1>
<p>Find me in app/views/flats/new.html.erb</p>


<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <%= simple_form_for(@flat) do |f|%>
      <%= f.input :title, label: false, input_html: { :class => "input-form-session", placeholder:"title" } %>
      <%= f.input :description, label: false, input_html: { :class => "input-form-session", placeholder:"description" } %>
      <%= f.input :area, label: false, input_html: { :class => "input-form-session", placeholder:"area" } %>
      <%= f.input :address, label: false, input_html: { :class => "input-form-session", placeholder:"address" } %>
      <%= f.input :zip, label: false, input_html: { :class => "input-form-session", placeholder:"Zip code" } %>
      <%= f.input :price, label: false, input_html: { :class => "input-form-session", placeholder:"price" } %>
      <%= f.input :rooms, label: false, input_html: { :class => "input-form-session", placeholder:"rooms" } %>
      <%= f.input :category, label: false, input_html: { :class => "input-form-session", placeholder:"category" } %>
      <%= f.input :photo, as: :attachinary, label: false, input_html: { :class => "input-form-session", placeholder:"photo" } %>

      <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
