<footer>
  <div class="container">
    <div class="row">
    <%= link_to "new user", new_user_registration_path %>
    <%= link_to 'sign-in', new_user_session_path %>
    <%= link_to 'sign-out', destroy_user_session_path, method: :delete  %>
      <div class="footer-content">
        <div class="col-xs-12 col-sm-4 col-md-3">
          <h4>About us</h4>
          <ul>
            <li><%= link_to 'Clement B.', '#' %></li>
            <li><%= link_to 'Guillaume C.', '#' %></li>
            <li><%= link_to 'Matthieu R.', '#' %></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <h4>Find us on</h4>
          <ul>
            <li>
              <%= link_to '#' do %>
                <%= icon('facebook') %>
              <% end %>
            </li>
            <li>
              <%= link_to '#' do %>
                <%= icon('twitter') %>
              <% end %>
            </li>
            <li>
              <%= link_to '#' do %>
                <%= icon('linkedin') %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
