<!DOCTYPE html>
<html>
  <head>
    <title>Pap</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= javascript_include_tag "application", 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'shared/navbar' %>
  <div class="main-wrapper">
  <%= yield %>
  </div>
  <%= render 'shared/footer' %>



  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDANjx3bosEtIyzJaoWs50Wnt6nt_1rmxU" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>
  <%= cloudinary_js_config %>
  <%= yield(:after_js) %>
  </body>
</html>

<!-- API_KEY=AIzaSyDDpOdoikeIdNQdECgd1xBR5-rFPI62ft0 -->
